include ../../../../components/accordion/accordion.pug
.good-main-desctop-down
    .good-main-desctop-down__container
        .good-main-desctop-down__left
            .good-main-desctop-down__description 
                .good-main-desctop-down__description-header Описание
                .good-main-desctop-down__description-body
                    p Уникальный профиль террасной доски из ДПК, разработанный компанией Гардек, обладает целым рядом качеств и выгодно отличает ее от зарубежных и отечественных производителей, при этом цена покрытия в собранном виде: с лагами, крепежами и доборными элементами гораздо ниже любой доски представленной в России, на сегодняшний день.
                    p Если сравнить с термически обработанной лиственницей, то наша доска стоит намного дешевле. И при этом, в отличие от лиственницы, нет абсолютно никаких дополнительных трат на покраску и покрытие антисептиком. Deckron практически не требует ухода, для чистоты ее достаточно мыть обычной водой. При этом, сроки эксплуатации ДПК достаточно велики, они составляют не менее 10 лет.

        .good-main-desctop-down__right 
            +accordion("Гарантия", false)
                p Срок гарантии зависит от категории товара. Убедительно просим вас внимательно ознакомиться с условиями гарантийных обязательств, а также правильно заполнять гарантийный талон. Гарантия действует, только если указаны модель, серийный номер, дата продажи, а также присутствуют четкая печать фирмы-продавца и подпись покупателя.
            +accordion("Свойства террасной доски")
                p Срок гарантии зависит от категории товара. Убедительно просим вас внимательно ознакомиться с условиями гарантийных обязательств, а также правильно заполнять гарантийный талон. Гарантия действует, только если указаны модель, серийный номер, дата продажи, а также присутствуют четкая печать фирмы-продавца и подпись покупателя.
            +accordion("Области применения")
                p Срок гарантии зависит от категории товара. Убедительно просим вас внимательно ознакомиться с условиями гарантийных обязательств, а также правильно заполнять гарантийный талон. Гарантия действует, только если указаны модель, серийный номер, дата продажи, а также присутствуют четкая печать фирмы-продавца и подпись покупателя.
            +accordion("Особенности")
                p Срок гарантии зависит от категории товара. Убедительно просим вас внимательно ознакомиться с условиями гарантийных обязательств, а также правильно заполнять гарантийный талон. Гарантия действует, только если указаны модель, серийный номер, дата продажи, а также присутствуют четкая печать фирмы-продавца и подпись покупателя.
