=wid($x:1320px,$percent:95%)
    width: min($x,$percent)
    margin: 0 auto

@function pw($x)
    @return calc($x / 1920 *100vw)

@function ph($x)
    @return calc($x / 1010 *100vh)

$footer-color: #A89D94
$main-color: #242424
$body-color: #E8E8E8
$menu-color: #FAFAFA

$std-time: 0.6s
