mixin mobileMenu(arr)
    .mobile-menu 
        .mobile-menu__container 
            h2.mobile-menu__header КАТАЛОГ ТОВАРОВ
            ul.mobile-menu__list
                each i in arr 
                    li.mobile-menu__item 
                        a(href= i.href)
                            .mobile-menu__item-left
                                img(src= i.src, alt="good")
                                p= i.name 
                            img(src="../../../assets/icons/arrow-down-right-black.svg")
                        input(type="checkbox" name="")
                        .mobile-menu__accordion 
                            ul(data-id= i.id)
                                each j in i.sub 
                                    li
                                        a(href= j.href)
                                            img(src= j.img)
                                            span= j.name 


            .mobile-menu__contacts 
                .mobile-menu__contacts-left
                    a(href="tel:"+common.phone)= common.phone
                    a(href="mailto:"+common.email)= common.email
                .mobile-menu__contacts-social
                    img(src="../../../assets/svg/socials/youtube-black.svg" alt="youtube")
                    img(src="../../../assets/svg/socials/vk-black.svg" alt="vk")