$width-menu: 420px
$search-res: 1246px
.main-menu
    --large-res: 122px
    position: absolute
    z-index: 2
    top: 0
    left: 0

    @media (width > $search-res)
        --large-res: 122px
    @media (width <= $search-res)
        --large-res: 97px

    & > #main-menu-toggler
        position: absolute
        height: var(--large-res)
        aspect-ratio: 1
        opacity: 0
        cursor: pointer

        &:checked ~ .main-menu__list
            max-height: calc(100vh - var(--large-res))
            padding-top: 38px
        // &:hover ~ .main-menu__list
        //     max-height: 600px

    &__head
        // margin: -29px 0 -30px -42px
        height: var(--large-res)
        aspect-ratio: 1
        background: $menu-color
        display: grid
        place-items: center

    &__list
        padding: 0 30px
        max-height: 0
        height: 100vh
        list-style: none
        // margin-top: 115px
        background: $menu-color
        rotate: 0deg
        z-index: 2
        width: var(--large-res)
        overflow: hidden
        transition: $std-time
        display: flex
        flex-direction: column
        row-gap: 46px

        &:hover
            width: $width-menu
            box-shadow: 10px 0 20px -12px #0007

    &__item
        display: flex
        align-items: center
        column-gap: 2em
        cursor: pointer

        &:hover
            & .main-menu__caption
                text-decoration: underline
            & .main-menu__submenu
                width: 50vw

    &__caption
        width: 100%
        color: $main-color
        white-space: nowrap
        height: 30px

    &__submenu
        position: absolute
        top: var(--large-res)
        background: $menu-color
        color: $main-color
        height: calc(100vh - var(--large-res))
        z-index: -1
        overflow: hidden
        transition: $std-time
        width: calc(50vw - $width-menu)
        translate: -55vw 0

        &[active]
            padding: 1em
            z-index: -1
            translate: $width-menu 0
