$search-res: 1246px
.main-menu

    position: absolute
    z-index: 2
    top: 0
    left: 0

    @media (width > $search-res)
        --large-res: 120px
    @media (width <= $search-res)
        --large-res: 97px

    // @media (width <= 768px)
    //     --large-res: 83px
    //     left: 50%
    //     translate: -50% 0

    & > #main-menu-toggler
        position: absolute
        height: var(--large-res)
        aspect-ratio: 1
        opacity: 0
        cursor: pointer

        &:checked ~ .main-menu__list
            max-height: calc(100vh - var(--large-res))
            padding-top: 38px

    &__head
        height: var(--large-res)
        aspect-ratio: 1
        background: $menu-color
        display: grid
        place-items: center
        background-image: url("../../../assets/icons/burger.svg")
        background-repeat: no-repeat
        background-position: center

        @media (width <= 768px)
            background: #0000
            background-image: url("../../../assets/icons/burger-white.svg")
            background-repeat: no-repeat
            background-position: center

    &__list
        padding: 0 30px
        max-height: 0
        height: calc(100vh + 33px)
        list-style: none
        background: $menu-color
        rotate: 0deg
        z-index: 2
        width: var(--large-res)
        overflow: hidden
        transition: $std-time
        display: flex
        flex-direction: column
        row-gap: 46px
        overflow-y: auto
        scrollbar-width: thin

        &::-webkit-scrollbar
            width: 5px

        &::-webkit-scrollbar-thumb
            background: #fff
            border-radius: 5px

        &::-webkit-scrollbar-thumb
            background: #4F3D34
        &:hover
            // width: var(--width-menu)
            box-shadow: 10px 0 20px -12px #0007

        @media (width <= $search-res)
            padding: 0 15px

    &__item
        position: relative
        display: flex
        align-items: center
        column-gap: 2.5em
        cursor: pointer

        &:hover
            & .main-menu__caption
                text-decoration: underline
            & .main-menu__submenu
                width: 50vw

            &::after
                content: "◂"
                color: #303031
                font-size: 80px
                position: absolute
                top: 0
                right: 0
                translate: 80% -25%
                z-index: 2
                text-shadow: 0 5px 5px #30303180

    &__caption
        width: 100%
        color: $main-color
        white-space: nowrap
        height: 30px

    &__submenu
        position: absolute
        top: var(--large-res)
        background: $menu-color
        color: $main-color
        height: calc(100vh - var(--large-res))
        z-index: -1
        overflow: hidden
        transition: $std-time
        width: calc(50vw - var(--width-menu))
        translate: -100vw 0
        padding-left: 1.5em

        display: grid
        grid-template-columns: repeat(2,minmax(0, 1fr))
        grid-auto-rows: max-content
        column-gap: 10px
        row-gap: ph(30)
        place-items: start

        &[active]
            padding: 1em
            padding-left: 3em
            z-index: -1
            translate: var(--width-menu) 0

        @media (width <= 1440px)
            width: calc(75vw - var(--width-menu))
        @media (width <= 1200px)
            width: calc(100vw - var(--width-menu))

        li
            list-style: none
            width: 100%
            & > a
                display: block
                width: 100%
                padding: 5px

                background: tranparent
                color: #303031
                filter: brightness(1) grayscale(1)
                transition: background-color $std-time, filter $std-time, color $std-time 0.3s
                border-radius: 5px
                cursor: pointer

                display: grid
                grid-template-columns: 50px 1fr
                gap: ph(30)
                place-items: center

                & > img
                    display: block
                    width: 100%
                    aspect-ratio: 1
                    object-fit: contain

                &:hover
                    background: #eee
                    color: #000
                    filter: brightness(0.9) grayscale(0)

    @media (width <= 768px)
        display: none
