.main-menu
    input#main-menu-toggler(type="checkbox" name="" )
    .main-menu__head 
        //- img(src="../../../assets/icons/burger.svg")
    ul.main-menu__list
        div
            each i in mainMenu
                li.main-menu__item(data-id= i.id)
                    img(src= i.src)
                    .main-menu__caption= i.name

                    ul.main-menu__submenu
                        each j in i.sub 
                            li.main-menu__submenu-item
                                a(href= j.href)
                                    img(src= j.img)
                                    span= j.name 



