header.header 
    include ../../components/header/header.pug
main.main 
    block main
footer.footer 
    include ../../components/footer/footer.pug
    include ../../components/footer-small/footer-small.pug