.specificity
    background: url("../../../assets/images/specificity.jpg") no-repeat
    background-size: cover

    color: #fff

    &__container
        padding: ph(57) pw(43)
        display: grid
        grid-template-columns: 30% 50%
        grid-template-areas: "text slider" "controls slider"
        column-gap: pw(81)
        place-items: center start

        +mq1024
            grid-template-columns: 100%
            grid-template-areas: "text" "slider" "controls"
            row-gap: 2em

    &__words
        margin-bottom: 183px
        grid-area: text
        +mq1024
            display: none

    &__slider
        width: 100%
        grid-area: slider

    &__controls
        display: flex
        align-items: center
        justify-content: space-between
        grid-area: controls
        width: 100%

    &__buttons
        display: flex
        align-items: center
        column-gap: pw(11)

    &__control
        width: 38px
        height: 38px
        border: 2px solid #fff
        border-radius: 10px
        display: grid
        place-items: center
        cursor: pointer
        user-select: none

        & > img
            width: 80%

    &__set
        display: flex
        column-gap: pw(21)

    &__blank
        width: 100%
        aspect-ratio: 1
        display: grid
        place-items: center
        background: #fff2
        backdrop-filter: blur(10px)
        border-radius: 10px

        &[type="close"]
            background: #5F5F5F

    &__text
        display: grid
        grid-template-columns: repeat(3, 32%)
        gap: ph(31) pw(48)

    &__cell
        font-size: clamp(12px, 20 / 1024 * 100vw, 20px)
        &:nth-child(4)
            grid-column-start: 2

    &__title
        font-size: clamp(30px, 64 / 1920 * 100vw,64px)
        font-weight: 500
        line-height: 107.1%
        margin-bottom: 101px
        +mq1024
            margin-bottom: unset
