include ../../pug/splides.pug
.specificity
    .specificity__container
        .specificity__left
            h2.specificity__title Особенности террасной доски
            .specificity__words Террасная доска Декрон состоит из 65% дерева, 30% полимера и 5% пигментов, связующих и прочих добавок.
            .specificity__controls
                .specificity__monitor 1/2
                .specificity__buttons
                    .specificity__control.specificity__control--left
                        img(src="../../../assets/icons/fi-rs-angle-left.svg")
                    .specificity__control.specificity__control--right 
                        img(src="../../../assets/icons/fi-rs-angle-left-1.svg")
        .specificity__slider 
            +splide("specificity",["plates","text"])
                if index === 0
                    .specificity__set 
                        each i in specificitySet
                            .specificity__blank(type= i.type) 
                                img(src= i.src, alt="icon")
                if index === 1
                    .specificity__text
                        each i in specificityText
                            .specificity__cell
                                .specificity__text-num= i.num
                                .specificity__text-caption= i.text