include ../../components/panel/panel.pug
include ../../components/button-el/button-el.pug
.tizer
    .tizer__container 
        .tizer__panels 
            each i,idx in tizer 
                if idx < tizer.length - 1
                    +panel(i.name, i.img, "white")(class="tizer__panel")
                else
                    +panel(i.name, i.img)(class="tizer__panel")
        .tizer__main 
            h1.tizer__title
                p ТЕРРАСНАЯ ДОСКА 
                p ДПК и МПК
            .tizer__text Декинг из древесно-полимерного композита – наиболее популярный сегмент рынка среди террасных настилов. 
            a.tizer__tocatalog(href="/catalog") 
                +buttonEl("white")
                    | Перейти в каталог