include ../../components/panel/panel.pug
include ../../components/button-el/button-el.pug
.tizer
    .tizer__container 
        .tizer__contacts 
            img(src="../../../assets/icons/geo.svg" alt="geo") 
            .tizer__address 
                each i in common.address 
                    p= i
        .tizer__panels 
            each i,idx in tizer 
                if idx < tizer.length - 1
                    +panel(i.name, i.img, "white")(class="tizer__panel")
                else
                    +panel(i.name, i.img)(class="tizer__panel")
        .tizer__main 
            h1.tizer__title
                p ТЕРРАСНАЯ ДОСКА 
                p ДПК и МПК
            .tizer__text Декинг из древесно-полимерного композита – наиболее популярный сегмент рынка среди террасных настилов. 
            a.tizer__tocatalog(href="/catalog") 
                +buttonEl("white")
                    | Перейти в каталог

        .tizer__mobile
            h1.tizer__title
                p ТЕРРАСНАЯ ДОСКА 
                p ДПК и МПК
            .tizer__mobile-grid
                p Декинг из древесно-полимерного композита – наиболее популярный сегмент рынка среди террасных настилов. 
                +panel(tizer[0].name, tizer[0].img, "white")(class="tizer__panel")
                +panel(tizer[1].name, tizer[1].img, "white")(class="tizer__panel")
            a.tizer__tocatalog(href="/catalog") 
                +buttonEl("white")
                    | Перейти в каталог
