.about-news
    display: block
    margin-top: ph(204)

    &__container
        display: grid
        grid-template-columns: repeat(2, 49%)
        column-gap: pw(60)
        margin: 0 pw(40)
        +mq1024
            grid-template-columns: 100%
            row-gap: ph(50)
            grid-template-rows: repeat(2, auto)

    &__about

        & > .num-title
            margin-bottom: 32px
            padding-top: 0
            & > .num-title__mark
                top: -2em

        +mq1024
            grid-row-start: 2

    &__row
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 32px

    &__about-content
        display: grid
        grid-auto-flow: column
        column-gap: pw(20)

        & p
            margin-bottom: 14px

        & .button-el
            max-width: 213px

        +mq768
            grid-auto-flow: row
            row-gap: ph(20)

    &__about-text
        display: flex
        flex-direction: column
        justify-content: space-between

    &__title
        @extend .num-title__header

    &__slider
        &--large
            +mq530
                display: none
        &--small
            display: none
            +mq530
                display: block
