.button-el
    display: grid
    place-items: center
    // padding: 20px pw(56)
    height: 60px
    min-width: 60px
    border-radius: 10px
    border: none
    font-family: inherit
    font-size: 1rem
    white-space: nowrap
    cursor: pointer
    user-select: none
    transition: background-color $std-time, color $std-time

    &--white
        background: #fff
        color: $main-color

    &--transparent
        background: #0000
        color: #fff
        border: 2px solid #fff

    &--grey
        background: #656565
        border: 2px solid #656565
        color: #fff

    &--gray
        background: $body-color
        border: 2px solid $body-color
        color: $darkgrey-color

    &--greytransparent
        background: transparent
        border: 2px solid #656565
        color: #656565

    &[disabled="true"]
        background: #fff7
        color: #fff
