mixin sliderControls()
    .slider-controls
        button.slider-controls__button.slider-controls__button--left(class!=attributes.class)
        button.slider-controls__button.slider-controls__button--right(class!=attributes.class)