@import "@var"
.logo
    display: block
    height: 58px
    width: 176px
    background: url("../../../assets/svg/logo.svg") no-repeat

    @media (width <= 768px)
        background: url("../../../assets/svg/logo-small.svg") no-repeat
        background-position: center
