mixin logo(x) 
    if  x==="small"
        a(href="/")
            img(src="../../../assets/svg/logo-small.svg" alt="Descart")
    else
        a(href="/")
            img(src="../../../assets/svg/logo.svg" alt="Descart")
