include ../accordion/accordion.pug
include ../checkbox/checkbox.pug
mixin filter()
    form(action="")&attributes(attributes)
        +accordion("Цена")
            .filter__inputs.filter__price-inputs 
                input(type="number" name="price-min" value="0")
                input(type="number" name="price-max" value="100")
            .filter__price
        +accordion("Бренд")
            ul.filter__selection.filter__brand
                each i in product.brand
                    li
                        +checkbox(i,"brand")
        +accordion("Производитель")
            ul.filter__selection.filter__vendor
                each i in product.vendor
                    li
                        +checkbox(i, "vendor")
        +accordion("Материал")
            ul.filter__selection.filter__material
                each i in product.material
                    li
                        +checkbox(i, "material")
        +accordion("Цвет")
            ul.filter__selection.filter__color
                each i in product.color
                    li
                        +checkbox(i, "color")
        +accordion("Длина ДПК доски")
            .filter__inputs.filter__price-inputs 
                input(type="number" name="length-min" value="2000")
                input(type="number" name="length-max" value="30000")
            .filter__length

        .filter__buttons 
            +buttonEl("grey")
                | Подобрать
            +buttonEl("greytransparent")
                | Сбросить
