include ../../components/num-title/num-title.pug 
include ../../components/panel/panel.pug 
include ../../components/slider-controls/slider-controls.pug 
include ../../pug/splides.pug

mixin catalog(arr,title, num)
    .catalog
        .catalog__container
            +numTitle(num)
                each i in title
                    p= i
            each i in arr 
                a(href= i.href)
                    +panel(i.name,i.img)

        .catalog__slider
            .catalog__slider-header
                +numTitle(num)
                    each i in title
                        p= i
                +sliderControls()
            +splide("catalog", arr)
                a(href= val.href)
                    +panel(val.name,val.img)

