extends ../pug/templates/template.pug
include ../components/num-title/num-title.pug
include ../blocks/catalog/catalog.pug
include ../components/breads/breads.pug
include ../blocks/tizer-mini/tizer-mini.pug
block main 
    +tizer-mini("Каталог товаров")
    .breads-wrap
        +breads([{name:"Главная", href:"/"},{name:"Каталог", href:"/catalog.html"},{name:"Террасная доска", href:"/product.html"}])
    include ../blocks/product-list/product-list.pug
    include ../blocks/feedback-form/feedback-form.pug 
    include ../blocks/popular/popular.pug 