.first-block
    .first-block__container
        .first-block__decking
            .first-block__decking-text Что такое декинг?
            .first-block__decking-mark 01
        .first-block__bricks 
            .first-block__brick.first-block__brick--up
            .first-block__brick.first-block__brick--right
            .first-block__brick.first-block__brick--down

        .first-block__text
            b Декинг
            | - это новое и активно развивающееся 
            b направление    
            | современных 
            b строительных материалов
            |, призванных 
            b бережно относиться к экологии
            b и 
            b превосходящее 
            | свои традиционные 
            b аналоги по практичности и долговечности.
