.news 
    .news__container 
        .news__right
            .news__image
                img(src="../../../assets/images/news/1.jpg")
                .news__mark скидка 10 %
            .news__text Акция на итальянскую мебель продолжается!!!
        .news__left
            .news__image
                img(src="../../../assets/images/news/2.jpg")
            .news__text Новинка от итальянского бренда B:rattan
