mixin accordion(name, close=true)
    .accordion 
        if close
            input(type="checkbox" checked)
        else
            input(type="checkbox")

        .accordion__header 
            span= name 
            img(src="../../../assets/icons/chevron-up.svg")
        .accordion__body
            block